
.card-accordion {
    border: 0;
    padding-bottom: $spacer-lg;
}

.card-accordion-header {
    border-radius: 0;
    background: transparent;
    border: 0;
    padding: 0;
}

.card-accordion-body {
    padding: $spacer-lg 4px;

    .offcanvas-close {
        display: none;
    }
}

.card-accordion-btn {
    font-size: $h3-font-size;
    font-weight: $font-weight-normal;
    color: $sw-text-color;
    text-transform: initial;
    padding: 0;

    &:hover {
        color: $sw-color-brand-primary;
        text-decoration: none;
    }

    &:focus, &.focus {
        color: $sw-text-color;
        text-decoration: none;

        &:hover {
            color: $sw-color-brand-primary;
            text-decoration: none;
        }

    }

    .card-accordion-btn-text {
        border-bottom: 2px solid $sw-color-brand-primary;
    }

    .icon {
        color: $sw-color-brand-primary;
    }

    .icon-plus-circle {
        display: none;
    }

    &.collapsed {

        .icon {
            color: $sw-text-color;
        }

        .icon-minus-circle {
            display: none;
        }

        .icon-plus-circle {
            display: inline-flex;
        }

        .card-accordion-btn-text {
            border-bottom: 2px solid $sw-border-color;
        }

        &:hover {
            .card-accordion-btn-text {
                border-bottom: 2px solid $sw-color-brand-primary;
            }
        }
    }

}


/* body */
body {
	line-height: 2;
	font-size: 0.850rem;
	color: $sw-text-color;
	/* Heading tag */
	h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
		font-size: 1.3rem;
	}
	span {
		&.h1, &.h2, &.h3, &.h4, &.h5 {
			display: inherit
		}
	}
	/* Page loader */
	#preloader {
		position: fixed;
		z-index: 20000;
		top: 0;
		width: 100%;
		height: 100%;
		text-align: center;
		background: $bc-wl-loader-page-color;
		.loaderImage {
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -100px 0 0 -100px;
			width: 200px;
			height: 200px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
	main .flashbags .alert {
		margin:15px 0;
	}
	/* home */
	&.is-act-home {
		header {
			position: absolute;
		}
		.breadcrumb {
			display:none;
		}
		.content-main {
			.container-main {
				padding-top: 0px;
			}
			& > .flashbags {
				top: 200px;
				position: absolute;
				right: 0;
				z-index: 99;
				width: 40%;
			}
		}
		.header_style {
			position:absolute;
			background-color:transparent;
		}
		.container-main {
			.cms-section.pos-0 {
				.cms-block.cms-block-image-cover {
					.cms-element-image {
						padding: 0px;
						.cms-image-container.is-cover {
							height: 100vh;
						}
					}
				}
			}
			.cms-element-sidebar-filter, .bc_filter_custom_btn {
				margin-top:15px;
			}
		}
	}
	&:not(.is-act-home) {
		header {
		   background: $bc-wl-background-color;
		}
	}
	/* search page */
	&.is-ctl-search.is-act-search {
		#filter-panel-wrapper {
			.col-lg-2.bc_d_sm_block {
				padding-left:0;
			}
			#bc_wl_horizontal_filter {
				padding-left: 0;
			}
		}
	}
	/* Checkout page */
	&.is-act-checkoutregisterpage .checkout {
		   padding-top: 20px;
	}
	/* detail */
	&.is-ctl-product.is-act-index {
		.breadcrumb.product-breadcrumb, ol.breadcrumb {
			border-bottom: 1px solid $sw-border-color;
			padding-bottom: 15px;
			max-width: 100%;
			padding-left: 20px;
			padding-right: 20px;
		}
		.bc-wl-main-container {
			padding:0;
			.product-detail {
				.product-detail-main {
					margin:0;
				}	
			}
		}
	}
	/* checkout */
	.checkout {
		.payment-methods {
			.payment-method {
				.payment-method-description p {
					color:$sw-text-color;
				}
			}
		}
	}
	/* header minimal */
	.header-minimal {
		left: 0;
		z-index: 100;
		width: 100%;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-ms-flex-align: center;
		align-items: center;
		position: relative;
		flex-wrap:wrap;
		top:0px;
		color: $bc-wl-primary-color;
		background: $bc-wl-background-color;
		padding-bottom:0px;
		.container {
			max-width: 100%;
		}
		.header-minimal-back-to-shop {
			.header-minimal-back-to-shop-button {
				color: $bc-wl-primary-color;
				border-color:$bc-wl-primary-color;
				&:hover {
					background: transparent;
					color:$bc-wl-text-highlight-color;
					border-color:$bc-wl-text-highlight-color;
				}
			}
		}
		.header-minimal-contact {
			color:$bc-wl-primary-color;
			a {
				color:$bc-wl-text-highlight-color;
			}
		}
	}
	header {
		left: 0;
		z-index: 100;
		width: 100%;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-ms-flex-align: center;
		align-items: center;
		position: relative;
		flex-wrap:wrap;
		top:0px;
		color: $bc-wl-primary-color;
		background: $bc-wl-background-color;
		padding-bottom: 20px;
		.header_container {
			align-items:center;
			padding:5px 0;
		}
		.header-logo-main {
			text-align: left;
			img {
				max-height:90px;
			}
		}
		.bc-wl-logo {
			display: flex;
			flex-direction: row;
			.header-logo-col {
				margin: 1rem 0 0 0;
			}
			.bc_wl_menu_stack {
				margin : 5px;
				overflow : unset;
				.icon {
					color: $bc-wl-primary-color;
					svg {
						top : 8px;
					}
				}
			}
		}
		.bc-nav-right {
			margin: auto;
			.header-actions-btn {
				.icon, .header-cart-total {
					color: $bc-wl-primary-color;
				}
			}
			.bc_inner_block_left {
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				justify-content: center;
				padding-left: 0px;
				padding-right: 0px;
				margin-top: 15px;
			}
			.bc_inner_block_right {
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				padding-left: 0px;
				padding-right: 0px;
				.shop_action_block {
					display: flex;
					align-items:center;
					padding-top: .5rem;
					& > .col-auto {
						padding:0;
					}
				}
			}
		}
		.bc-wl-search {
			width: 100%;
			max-height: 70px;
			#searchCollapse {
				background: $bc-wl-search-background-color;
			}
			.header-search {
				margin : unset;
				input {
					background: $bc-wl-search-background-color;
					color: $bc-wl-secondary-color;
					-webkit-transition: all .3s ease;
					transition: all .3s ease;
					border:none;
					height: auto;
					&::-webkit-input-placeholder {
						color: $sw-text-color;
					}
					&::-moz-placeholder {
						color: $sw-text-color;
					}
					&::placeholder {
						color: $sw-text-color;
					}
				}
				.header-search-btn {
					background: $bc-wl-search-background-color;
					border:none;
					.icon {
						color:$bc-wl-secondary-color;
					}
					&:hover {
						.icon {
							color:$bc-wl-text-highlight-color;
						}
					}
				}
				.search-suggest {
					.search-suggest-container {
						li {
							color: $bc-wl-secondary-color;
						}
					}
				}
			}
		}
		.header-search {
			max-width: unset;
		}
		/* Top bar */
		.top-bar {
			min-height: 37px;
		   .top-bar-nav {
				.top-bar-nav-item {
					float:right;
					margin-left: 1rem;
					.btn {
						color: $bc-wl-primary-color;
					}
				}
			}
			.topbar-features {
				.container {
					padding-left: 0px;
					.bc-promotion-list {
						display: flex;
						list-style: none;
						padding: 5px;
						margin-bottom: 0px;
						overflow: hidden;
						text-align: center;
						li {
							a {
								color: $bc-wl-primary-color;
							}
							svg {
								width:14px;
								height:14px;
								padding-bottom: 2px;
								fill:$bc-wl-primary-color;
								path {
									fill:$bc-wl-primary-color;
								}
							}
							span, a > span {
								font-weight: 600;
								color: $bc-wl-primary-color;
							}
						}
					}
				}
			}
		}
		#mainNavigation {
			.main-navigation-menu {
				justify-content:center;
				.main-navigation-link {
					position: relative;
					padding-left: 0px;
					padding-right: 0px;
					margin-left: 12px;
					margin-right: 12px;
					&:hover {
						.main-navigation-link-text {
							color:$bc-wl-text-highlight-color;
							span {
								&:after {
									width: 100%;
									right: auto;
									left: 0;
								}
							}
						}
					}
					.main-navigation-link-text {
						color: $bc-wl-primary-color;
						font-size: $bc-wl-main-font-size;
						span {
							&:after {
								position: absolute;
								bottom: 8px;
								left: auto;
								right: 0;
								width: 0;
								height: 2px;
								content: "";
								background-color: $bc-wl-text-highlight-color;
								-webkit-transition: 0.3s;
								-o-transition: 0.3s;
								transition: 0.3s;
							}
						}
					}				
				}
				.main-navigation-link.active {
					.main-navigation-link-text {
						border-color: $bc-wl-text-highlight-color;
						color:$bc-wl-text-highlight-color;
					}
				}
			}
			.navigation-flyouts {
				position: absolute;
				left: 20px;
				width: auto;
				right: 20px;
				.navigation-flyout {
					transform: translateY(10px);
					transition: transform .3s linear;
					.navigation-flyout-bar {
						.navigation-flyout-category-link {
							font-size: $bc-wl-sub-font-size;
							.nav-link {
								color: $bc-wl-secondary-color;
							}
						}
					}
					.navigation-flyout-content {
						.navigation-flyout-categories {
							.navigation-flyout-col {
								margin-bottom: 0px;
								&:before {
									border-left: none;
								}
								.navigation-flyout-link {
									color: $bc-wl-secondary-color;
									font-size: $bc-wl-sub-font-size;
									margin: 0 0;
									&:hover {
										color: $bc-wl-text-highlight-color;
									}
								}
							}
						}
						.navigation-flyout-teaser {
							.navigation-flyout-teaser-image-container {
								height:unset;
							}
							img {
								object-fit: unset;
							}
						}
					}
					&.show_sub_menu {
						transform: none;
					}
				}
			}
		}
		&.bcwl_absoluteheader {
			position: absolute;
			background-color: transparent;
		}
		&.bcwl_relativeheader {
			position: relative;
		}
		&.stickynav {
			position: fixed;
			top: 0;
			background: $bc-wl-background-color;
			z-index: 1050;
			.navigation-flyouts {
				.container {
					max-height: 70vh;
					overflow-x: hidden;
					overflow-y: scroll;
				}
			}
			.search-suggest {
				&::after {
					top: 45px;
					content: "";
					display: block;
					position: absolute;
					left: 48%;
					z-index:1001;
					width: 0;
					height: 0;
					border-left: 12px solid transparent;
					border-right: 12px solid transparent;
					border-bottom: 12px solid $sw-background-color;
				}
				.search-suggest-container {
					overflow-x: hidden;
					overflow-y: scroll;
				}	
			}
		}
	}
	.gallery-slider-controls, .base-slider-controls {
		button {
			width: 35px;
			height: 35px;
			line-height: 0;
			background: $primary;
			opacity: 1;
			border-radius: 50%;
			display:flex;
			align-items:center;
			justify-content:center;
			border-color:$primary;
			span {
				color:$secondary;
				height:20px;
				width:20px;
				svg {
					top:0;
				}
			}
			&.base-slider-controls-prev, &.gallery-slider-controls-prev {
				padding-right:4px;
				left: 0px;
			}
			&.base-slider-controls-next, &.gallery-slider-controls-next {
				padding-left:4px;
				right:0;
			}
			&:hover {
				color:$primary;
				background: $secondary;
				border-color:$secondary;
				.icon {
					color:$primary;
				}
			}
		}
	}
	/* Main content */
	.content-main {
		.container-main {
			padding: 15px 0;
			.cms-page {
				.bc-wl-top-banner {
					.cms-block-text-on-image {
						&.overlay_banner_image {
							&::before {
								position: absolute;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
								content: "";
								pointer-events:none;
							}
							&[data-overlay-brightness="0.1"]::before {
								backdrop-filter: brightness(0.1);
							}
							&[data-overlay-brightness="0.2"]::before {
								backdrop-filter: brightness(0.2);
							}
							&[data-overlay-brightness="0.3"]::before {
								backdrop-filter: brightness(0.3);
							}
							&[data-overlay-brightness="0.4"]::before {
								backdrop-filter: brightness(0.4);
							}
							&[data-overlay-brightness="0.5"]::before {
								backdrop-filter: brightness(0.5);
							}
							&[data-overlay-brightness="0.6"]::before {
								backdrop-filter: brightness(0.6);
							}
							&[data-overlay-brightness="0.7"]::before {
								backdrop-filter: brightness(0.7);
							}
							&[data-overlay-brightness="0.8"]::before {
								backdrop-filter: brightness(0.8);
							}
							&[data-overlay-brightness="0.9"]::before {
								backdrop-filter: brightness(0.9);
							}
							&[data-overlay-brightness="1"]::before {
								backdrop-filter: brightness(1);
							}
						}
					}
					.cms-block {
						.cms-block-container {
							height:100%;
							display:flex;
							align-items: center;
							justify-content: center;
							.cms-block-container-row .cms-element-text {
								span {
									display: -webkit-box;
									-webkit-box-orient: vertical;
									overflow: hidden;
									text-overflow: ellipsis;
									padding: 0 15px;
									&.bc_main_banner_dec {
										-webkit-line-clamp: 4;
									}
									&.bc_main_banner_title {
										-webkit-line-clamp: 2;
									}
								}
							}
						}
					}
				}
				.bc-wl-promotion-banner {
					padding:40px 20px 40px 20px;
					.cms-block-text-on-image {
						.cms-element-text {
							.bc_promotion_banner_text {
								display: -webkit-box;
								-webkit-line-clamp: 6;
								-webkit-box-orient: vertical;
								overflow: hidden;
								text-overflow: ellipsis;
							}
						}
						&.overlay_banner_image {
							&::before {
								position: absolute;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
								content: "";
								pointer-events:none;
							}
							&[data-overlay-brightness="0.1"]::before {
								backdrop-filter: brightness(0.1);
							}
							&[data-overlay-brightness="0.2"]::before {
								backdrop-filter: brightness(0.2);
							}
							&[data-overlay-brightness="0.3"]::before {
								backdrop-filter: brightness(0.3);
							}
							&[data-overlay-brightness="0.4"]::before {
								backdrop-filter: brightness(0.4);
							}
							&[data-overlay-brightness="0.5"]::before {
								backdrop-filter: brightness(0.5);
							}
							&[data-overlay-brightness="0.6"]::before {
								backdrop-filter: brightness(0.6);
							}
							&[data-overlay-brightness="0.7"]::before {
								backdrop-filter: brightness(0.7);
							}
							&[data-overlay-brightness="0.8"]::before {
								backdrop-filter: brightness(0.8);
							}
							&[data-overlay-brightness="0.9"]::before {
								backdrop-filter: brightness(0.9);
							}
							&[data-overlay-brightness="1"]::before {
								backdrop-filter: brightness(1);
							}
						}
					}
				}
				.bc-wl-category-heading {
					.cms-block {
						.cms-element-text {
							justify-content: center;
							h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
								padding-bottom: 1.3rem;
							}
						}
					}
				}
				.bc-wl-promotion-slide1 {
					padding:40px 20px 40px 20px;
				}
				.bc-wl-company-desc {
					.cms-block {
						.cms-element-text {
							hr {
								margin-bottom: 2rem;
								border: 1px solid $sw-border-color;
							}
						}
					}
				}
			}
			& > .breadcrumb {
				border-bottom: 1px solid $sw-border-color;
				padding-bottom: 15px;
				max-width: 100%;
				padding-left: 20px;
				padding-right: 20px;
				ol.breadcrumb {
					padding:0;
					margin:0;
				}
			}
		}
		.cms-sections {
			.cms-section {
				&.pos-0.bc-wl-top-banner {
					.cms-block {
						height:100vh;
						display: flex;
						align-items: center;
						justify-content: center;
					}
				}
				&:not(.pos-0).bc-wl-top-banner {
					.cms-block {
						min-height:550px;
						display: flex;
						align-items: center;
						justify-content: center;
					}
				}
			}
			.bc-wl-promotion-banner {
				.cms-section-default {
					position: relative;
					&::before, &::after {
						z-index: 3;
						content:'';
						position: absolute;
						top:10px;
						left:10px;
						bottom:10px;
						right:10px;
						box-sizing: border-box;
						transform: scale(0);
						transition: 0.5s;
					}
					&:hover {
						&::before {
							border-bottom: 3px solid #FFF;
							border-left: 3px solid #FFF;
							transform-origin: 0 100%;
							transform: scale(1);
						}
						&::after {
							border-top: 3px solid #FFF;
							border-right: 3px solid #FFF;
							transform-origin: 100% 0%;
							transform: scale(1);
						}
						.cms-block-background, img {
							transform: scale(1.04);
						}
					}
				}
				.cms-block-text-on-image {
					overflow: hidden;
					min-height: 550px;
					display: flex;
					align-items: center;
					justify-content: center;
					.cms-block-background, img {
						transform: scale(1);
						-webkit-filter: none;
						filter: none;
						-webkit-transition: all 0.5s ease 0s;
						transition: all 0.5s ease 0s;
					}
				}
			}
		}
	}
	.bc-wl-category-heading, .bc-wl-category-list-img, .bc-wl-product-slider1, .bc-wl-product-slider2, .bc-wl-company-desc {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	/* Product box style */
	.product-box {
		border: none;
		background-color: $bc-wl-product-background-color;
		border-radius: 6px;
		.card-body {
			padding:10px;
			border-radius: 6px;
			box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
			overflow: hidden;
			position: relative;
			&:hover {
				.product-info {
					.product-action-container {
						right: 5%;
						.btn, .product-wishlist-action-circle {
							visibility: visible;
							-webkit-transition: all 0.5s ease 0s;
							transition: all 0.5s ease 0s;
						}
					}
				}
				.product-wishlist {
					.product-wishlist-action-circle {
						right: 5%;
						visibility: visible;
						transition: all 0.4s ease;
					}
				}
				.product-image-wrapper {
					img {
						transform: scale(1.02);									
					}
				}
			}
			.product-badges {
				.badge {
					margin: 0 10px 8px;
					border-radius: 5px;
				}
			}
			.product-image-wrapper {
				overflow: hidden;
				position:static;
				img {
					transition: all .5s linear;
					max-height: 100%;
					object-fit: contain;
					height: 100%;
				}
			}
			.product-wishlist, .product-action-container {
				.btn, button {
					width: 40px;
					height: 40px;
					border-radius: 50%;
					font-weight: 400;
					background-color: $bc-wl-product-primary;
					box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
					transition: .3s;
					margin-bottom: 10px;
					border: none;
					transform: scale(1.10);
					visibility: hidden;
					display: grid;
					place-items: center;
					padding:0;
					.bc-product-view-icon, .bc-detail-icon, .bc-product-cart-icon {
						width:100%;
						height:100%;
						display: grid;
						place-items: center;
					}
					.icon {
						width: 18px;
						height: 18px;
						svg {
							color: $bc-wl-product-secondary;
							top:0;
						}
					}
					&:hover {
						background-color: $bc-wl-product-secondary;
						border: none;
						transform: scale(1);
						box-shadow: none;
						.icon {
							svg {
								color: $bc-wl-product-primary;
							}
						}
					}
					&.product-wishlist-action-circle {
						position: absolute;
						top: 80px;
						right: 0%;
						transition: .3s;
					}
				}
			}
			.product-info {
				.product-name {
					margin-bottom: 0px;
					font-size: 1rem;
					color:$bc-wl-product-primary-text-color;
				}
				.product-price-info {
					.product-price {
						font-size: 1rem;
						color:$bc-wl-product-primary;
					}
					.product-cheapest-price, .product-price-wrapper {
						color:$bc-wl-product-primary-text-color;
					}
				}
				.product-action-container {
					position: absolute;
					top: 25%;
					right:0;
					background-color: transparent;
					transition: .25s linear;
					display: block;
					flex-wrap: wrap;
				}
				.product-rating, .product-name, .product-description, .product-price-info {
					text-align: center;
				}
			}
			.bc-wl-view-more {
				visibility: hidden;
				position: absolute;
				.product-overlay-close {
					cursor:pointer;
					position: absolute;
					top: 10px;
					right: 10px;
					.icon {
						color: $bc-wl-product-secondary;
						svg {
							top:0;
						}
					}
				}
				.bc-wl-product-img {
					display: flex;
					img {
						max-width: 100%;
						margin:0 auto;
						height: 150px;
					}
				}
				.bc-wl-product-info {
					color:$bc-wl-product-secondary-text-color;
					.product-rating {
						margin-top: 10px;
					}
					.product-variant-characteristics-text {
						color:$bc-wl-product-secondary-text-color;
						text-align:center;
					}
				}
			}
			.product-overlay-show {
				background: $bc-wl-product-primary;
				opacity: 1;
				top: -1px;
				bottom: 0;
				left:0;
				width: 100%;
				height: 100%;
				margin: auto;
				padding: 40px 20px 20px 20px;
				z-index: 99;
				visibility: visible;
			}
		}
	}
	/* Footer */
	footer {
		color: $bc-wl-footer-text-color;
		background: $bc-wl-footer-brand-primary;
		padding-bottom: 20px;
		#footerColumns {
			.footer-column {
				.footer-column-headline {
					color: $bc-wl-footer-brand-secondary;
					text-transform: uppercase;
					a {
						color: $bc-wl-footer-brand-secondary;
						text-transform: uppercase;
						&:hover {
							text-decoration:none;
						}
					}
				}
				.footer-column-content {
					.footer-column-content-inner {
						color: $bc-wl-footer-text-color;
						font-size: 0.850rem;
						text-transform: uppercase;
						padding:0;
						a {
							font-size: 0.850rem;
							color: $bc-wl-footer-text-color;
						}
						.footer-contact-hotline {
							font-size: 0.850rem;
						} 
						.footer-contact-hotline:hover, .footer-contact-form:hover, .footer-link-item:hover {
							-webkit-transition: all .2s ease;
							transition: all .2s ease;
							padding-left: 5px;
							color: $bc-wl-footer-brand-secondary;
							a {
								color: $bc-wl-footer-brand-secondary;
								font-size: 0.850rem;
							}
						}										
					}
					.footer-contact-form {
						color: $bc-wl-footer-text-color;
						&:hover {
							-webkit-transition: all .2s ease;
							transition: all .2s ease;
							padding-left: 5px;
						}
						a {
							color: $bc-wl-footer-text-color;
							font-size: 1rem;
						}
					}
				}
			}
		}
		.footer-logos {
			.footer-logo {
				.footer-logo-image {
					height: 40px;
					max-height: 40px;
				}
			}
		}
		.footer-bottom {
			background: $bc-wl-footer-brand-secondary;
			color: $bc-wl-footer-brand-primary;
			padding-top: 2rem;
			padding-bottom: 2rem;
			.icon {
				color: $bc-wl-footer-brand-primary;
			}
			.footer-vat {
				a {
					color: $bc-wl-footer-brand-primary;
					&:hover {
						color: $bc-wl-footer-brand-primary;
					}
				}
			}
		}
		.additional_info_block {
			 padding-top: 1rem;
			 padding-bottom: 1rem;
			 display: flex;
			 flex-wrap: wrap;
			 flex-direction: row;
			 justify-content: center;
			.info_heading {
				text-align: center;
				color: $bc-wl-footer-brand-secondary;
				display: inherit;
			}
			.custom_additional_block {
				margin-bottom: 15px;
				.store_location_block {
					text-align: center;
					.bc_store_btn {
						border: 1px solid $bc-wl-footer-border-color;
						color: $bc-wl-footer-text-color;
						svg {
							padding: 2px;
							path {
								fill:$bc-wl-footer-text-color;
							}
						}
						&:hover {
							border-color:$bc-wl-footer-brand-secondary;
							color: $bc-wl-footer-brand-secondary;
							svg {
								path {
									fill:$bc-wl-footer-brand-secondary;
								}
							}
						}
					}
				}
				.social_media_icon {
					text-align: center;
					ul {
						margin: auto;
						padding: 2px;
						display: flex;
						align-items: center;
						justify-content: center;
						flex-wrap: wrap;
						 li {
							display: block;
							font-size: 1rem;						
							height: 40px;
							border: 1px solid $bc-wl-footer-border-color;
							width: 40px;
							text-align: center;
							padding: 4px;
							border-radius: 50%;
							margin-right:5px;
							margin-bottom:5px;
							&:hover {		
								border: 1px solid $bc-wl-footer-brand-secondary;
								a {
									color: $bc-wl-footer-brand-secondary;
									svg, svg path {
										fill: $bc-wl-footer-brand-secondary;
									}
								}
							}
							a {
								color: $bc-wl-footer-text-color;
								display: flex;
								align-items: center;
								justify-content: center;
								height: 100%;
								width: 100%;
								svg {
									width:16px;
									height:16px;
									path {
										fill: $bc-wl-footer-text-color;
									}
								}
							}
						}
					}
				}
				.app_platform_list {
					text-align: center;
					.aligncenter {
						display: inline-block;
						clear: both;
						padding: 0 7px 10px 7px;
						.app_img_block {
							img {
								height:60px;
								max-width: 100%;
							}
						}
					}
				}
		   }
		}
		&.footer-minimal {
			background-color:$bc-wl-footer-brand-secondary;
		}
	}
	/* wishlist */
	&.is-ctl-wishlist {
		.wishlist-page {
			.wishlist-headline {
				height:auto;
			}
			.product-wishlist-info {
				.product-action {
					.btn, .btn-buy {
						background-color:$primary;
						border:none;
						.icon {
							color:$secondary;
						}
					}
				}
				.product-variant-characteristics, .product-variant-characteristics-text, .product-wishlist-info-item, .product-wishlist-info-manufacturer {
					text-align:center;
				}
			}
			.card-body-wishlist .product-wishlist-btn-remove {
				visibility: visible;
			}
		}
	}
	/* news letter */
	.bc-wl-footer-newsletter {
		width: 100%;
		display: flex;
		text-align: center;
		padding: 40px 0 0 0;
		.bc-wl-newsletter-container {
			width: 100%;
		}
		.bc-wl-newsletter-headline {
			color: $bc-wl-footer-brand-secondary;
			text-transform: uppercase;
			font-size: 1.5rem;
			font-weight: 700;
		}
		.bc-wl-newsletter-text {
			font-size: 1.1rem;
			padding-bottom: 20px;
		}
		.bc-wl-newsletter-button  {
			padding-bottom: 30px;
			.btn-bc-wl-newsletter {
				border: 1px solid $bc-wl-footer-border-color;
				color: $bc-wl-footer-text-color;
				&:hover {
					color: $bc-wl-footer-brand-secondary;
					border-color:$bc-wl-footer-brand-secondary;
				}
				.icon_marker {
					padding: 2px;
				}
			}
		}
	}
	.modal-bc-wl-newsletter {
		.modal-dialog {
			max-width: 500px;
			.modal-body {
				padding : 0;
				.card-body {
					.card-title {
						font-size: 1.2em;
						text-transform: uppercase;
						text-align: center;
						padding-bottom: 25px;
					}
				}
				.form-content {
					.custom-select, .form-control {
						cursor: default;
						border: none;
						border-bottom: 1px solid;
						border-radius: 0px;
					}
					.custom-select {
						&:focus {
							box-shadow : unset;
						}
					}
					.custom-control-label {
						&:before {
							border-radius: 0px;
							top : 0.5rem;
						}
						&:after {
							top : 0.5rem;
						}
						
					}
				}
				.confirm-message {
					padding: 10% 10%;
					text-align: center;
					font-size: 1rem;
					font-weight: 400;
				}
			}
		}
	}
	/* promotion popup */
	.product_promotion_block {
		.product_promotion_popup {
			position: fixed;
			z-index: 999;
			bottom: 40px;
			background: $sw-background-color;
			padding: 1rem;
			line-height: 1.8;
			border-radius: 6px;
			display:none;
			box-shadow: rgb(99 99 99 / 40%) 0px 2px 8px 0px;
			font-size: 14px;
			.popup_close_btn {
				margin: 0 5px;
				position: absolute;
				top: 4px;
				right: 4px;
				&:focus {
					outline:none;
				}
			}	
			.product-img-block {
				padding:0 5px;
				margin: auto;
				text-align: center;
				img {
					height:100%;
					width:100%;
				}
			}
			.product-detail-block {
				padding:0 5px;
				.product-heading {
					font-size: 1rem;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				.product-desc {
					font-size: 0.750rem;  
					display: -webkit-box;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;  
					overflow: hidden;
					margin:0;
				}
			}
			.card_body_inner {
				width:100%;
				margin:0;
			}
		}
	}
	/* scroll up btn */
	.scroll-up-container {
	   .scroll-up-button {
		   .btn-primary {
			  border-radius: 50%;
			  background: $primary;
			  border-color: $secondary;
			  &:focus {
				border-radius: 50%;
				background: $secondary;
				border-color: $secondary;
				box-shadow: none;
			  }
			  &:active {
				border-radius: 50%;
				background: $secondary;
				border-color: $secondary;
			  }		  
		   }
	   }
	}
	/* cookie-permission */
	.cookie-permission-container {
	   .cookie-permission-button {
			.btn-primary {
				background-color: $secondary;
				border-color: $secondary;
				border-radius: 0px;
			}   
	   }
	}
	/* Listing Page */
	&.is-ctl-navigation {
		.cms-section {
			.boxed {
				max-width: 100%;
			}
		}
		.content-main {
			.cms-block-sidebar-filter {
				.cms-block-container {
					.cms-block-container-row {
						 position: relative;
						 z-index: 10;
					}
				}
			}
			.cms-section-sidebar {
				.cms-section-sidebar-sidebar-content {
					.cms-block-category-navigation {
						.cms-element-category-navigation {
							.category-navigation-entry {
								border-bottom: none;
								.category-navigation-link.is-active {
									border-bottom: 1px solid $secondary;
								}
							}
						}
					}
					.cms-block-sidebar-filter {
						.filter-panel-wrapper {
							.filter-panel {
								.filter-panel-item {
									.filter-panel-item-toggle {
										border: none;									
										font-size: 1rem;
										font-weight: 700;
										padding: 0.5rem;
										border-bottom: 1px solid $sw-border-color;
										&:focus {
											box-shadow: none;
										}
										&:hover {
											color: $primary;
											border-bottom: 1px solid $secondary;
										}
									}
									.filter-property-select-list-item[data-is_prop_bc_color='true'],  .filter-property-select-list-item[data-is_prop_bc_media='true'] {
										display: inline;
										.filter-property-select-preview {
											width: 36px;
											height: 36px;
											border-radius: 15px;
										}
										.filter-multi-select-item-label {
											display: none;
										}
									}
								}
								.filter-panel-item-dropdown {
									border: none;
									ul {
										margin-top: 15px;
										margin-bottom: 15px;
										li {
											&:hover {
												.filter-multi-select-item-label {
													color: $secondary;
													&:before {
														border: $secondary solid 1px;
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	/* Product Detail Page */
	&.is-ctl-product {
		.product-detail {
			.product-breadcrumb {
				border-bottom: 1px solid $sw-border-color;
				padding-bottom: 15px;
			}
			.product-detail-media {
				.gallery-slider {
					padding: 15px 0;
					.gallery-slider-single-image, .gallery-slider-item {
						margin: 20px;
						.gallery-slider-image {
							border-bottom-right-radius: 20px;
							&.js-image-zoom-element {
								width:unset;
							}
						}
					}
				}
				.gallery-slider-thumbnails-col {
					margin: 20px 0px;
					.gallery-slider-thumbnails {
						.gallery-slider-thumbnails-item {
							.gallery-slider-thumbnails-item-inner {
								box-shadow: rgb(99 99 99 / 20%) 0px 2px 10px 0px;
								border-color:$primary;
							}
							&.tns-nav-active {
								.gallery-slider-thumbnails-item-inner {
									border-color:$secondary;
								}
							}
						}
					}
					.gallery-slider-thumbnails-controls {
						.base-slider-controls-prev, .base-slider-controls-next {
							opacity:1;
							.icon {
								color:$primary;
							}
							&:hover {
								.icon {
									color:$secondary;
								}
							}
						}
					}
				}
				.gallery-slider-row.is-loading {
					height: 100%;
				}
			}
			.product-detail-buy {
				.product-detail-name-container {
					flex: 0 0 auto;
				}
				.product-detail-headline {
					margin-bottom: 0px;
					padding-bottom: 1rem;
					padding-top: 1rem;
				}
				.product-detail-manufacturer {
					width: 100%;
					text-align:center;
				}
				.product-detail-price-container {
					.product-block-prices {
						 padding-top: 1rem;
						.product-block-prices-table {
							border: none;
							th, td {
								border: none;
							}
						}
					}
				}
				.product-detail-reviews {
					display: flex;
					align-items: center;
					.product-detail-review-navigation-link {
						padding: 0;
						border: none;
						outline: none;
						background: transparent;
						text-decoration: underline;
					}
				}
				.product-detail-form-container {
					padding: 2rem;    
					border-radius: 25px;
					box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
					.product-detail-quantity-select {
						border-radius: 20px;
						padding-left: 20px;
					}
					.btn-buy {
						padding: 0.5rem;
						border-radius: 20px;
						background-color: $primary;
						border-color: $primary;
						&:hover {
							background-color: $secondary;
							border-color: $secondary;
						}
						&:focus {
							box-shadow:none;
						}
					}
				}
				.magnifier-zoom-image {
					width: 50% ;
					border-radius: 5px;
					box-shadow: 0 0 4px 0 rgba(0, 0, 0, .4);
					max-height: 300px;
				}
				.bc-wl-share-icons {
					width: 225px;
					height: 40px;
					background: $secondary;
					border-radius: 40px;
					padding: 0 40px;
					overflow: hidden;
					position: relative;
					cursor: pointer;
					transition: .3s linear;
					margin-bottom: 15px;
					display: flex;
					align-items: center;
					justify-content: center;
					span {
						position: absolute;
						width: 100%;
						height: 100%;
						background: $primary;
						color:$secondary;
						text-align: center;
						line-height: 40px;
						z-index: 1;
						transition: .6s linear;
						border-radius: 40px;
					}
					a {
						flex: 1;
						font-size: 20px;
						color: $primary;
						text-align: center;
						transform: translateX(-100%);
						opacity: 0;
						transition: .3s linear;
						&:nth-of-type(1) {
							transition-delay: 1s;
						}
						&:nth-of-type(2) {
							transition-delay: .8s;
						}
						&:nth-of-type(3) {
							transition-delay: .6s;
						}
						svg {
							width:18px;
							height:18px;
							path {
								fill: $primary;
							}
						}
					}
					&:hover{
						background: $secondary;
						transform: scale(1.1);
						span {
							background: $secondary;
							transform: translateX(-100%);
							transition-delay: .3s;
						}
						a {
							opacity: 1;
							transform: translateX(0);
							background: $secondary;
						}
					}
				}
				.product-detail-tabs {
					.product-detail-tab-navigation-list {
						.nav-item {
							.nav-link {
								border: none;
								background-image: none;
								cursor: pointer;
								background-color: $secondary;
								padding: 5px 10px;
								border-radius: 5px;
								color: $primary;
								&:focus {
									outline:none;
								}
							}
							.nav-link.active {
								background-color: $primary;	
								color: $secondary;
								outline:none;			
							}
						}
					}
					#productDescModal {
						.modal-body {
							.offcanvas-close {
								display: none;
							}
						}
					}
					#productReviewModal {
						.modal-body {
							 color: $sw-text-color;
							.offcanvas-close {
								display: none;
							}
							.product-detail-review-content {
								.review-form {
									input[type=text] {
										border: none;
										border-bottom: 1px solid $sw-border-color;
									}
									.product-detail-review-form-footer {
										flex-wrap: wrap;
										.required-fields {
											width: 100%;
										}
									}
								}
								.review-filter-form {
									.product-detail-review-filter {
										.product-detail-review-checkbox {
											.custom-checkbox {
												.custom-control-input {
													left: 2px;
													top: 10px;
												}
												.custom-control-label {
													&:before, &:after {
														top: 0.5rem;
													}
												}
											}
											.product-detail-review-progressbar-col {
												.product-detail-review-progressbar-container {
													margin-top: 10px;
												}
											}
										}
									}
								}
								.product-detail-review-main {
									.product-detail-review-language-form {
										.custom-switch {
											.custom-control-input {
												left: 2px;
												top: 10px;
											}
											.custom-control-label {
												&:before {
													top: 0.5rem;
												}
												&:after {
													top: calc(0.5rem + 2px);
												}
											}
										}
									}
								}
							}
						}
						.element-loader-backdrop {
							-webkit-transition: unset;
							transition: unset;
							background-color: transparent;
							box-shadow: none;
						}
					}
				}
			}
		}
		.point-container {
			.point-rating {
				.icon {
					svg {
						top: 0px;
					}
				}
			}
		}
	}
	/* custom design */
	.cms-block-product-listing, .cms-element-product-listing {
		.pagination-nav {
			.pagination {
				.page-item:not(.active) {
					&:hover {
						.page-link {
							color: $primary;
							&:before {
								box-shadow: inset 0 0 0 40px $secondary;
							}
							span {
								color: $primary;
							}
						}
					}
				}
				.page-item, li {
					.page-link {
						border-radius: 50%;
						background: transparent;
						padding: 0;
						padding-top: 2px;
						z-index:1;
						line-height: unset;
						display: flex;
						align-items: center;
						justify-content: center;
						border-color:$secondary;
						&:before, &:after {
							content: '';
							position: absolute;
							top: 0;
							left: 0;
							height: 100%;
							width: 100%;
							-webkit-transition: all 0.25s ease;
							transition: all 0.25s ease;
							border-radius: 30px;
							box-shadow: inset 0 0 0 1px $secondary;
							z-index:-1;
						}
						.icon {
							color: $primary;
							svg {
								top: 0px;
							}
						}
					}
					&.page-next, &.page-last, &.page-prev, &.page-first {
						.page-link {
							padding-bottom: 3px;
						}
					}
				}
				.page-item.active {
					.page-link {
						background-color: $secondary;
						border-color:$secondary;
					}
				}
			}
		}
		.custom-select {
			border: none;
			border-bottom: 1px solid $secondary;
			&:focus {
				box-shadow: none;
			}
		}
	}
	.btn {
		border-radius: 0px;
	}
	.btn-primary {
		background-color: $primary;
		border-color: $primary;
		&:hover {
			background-color: $primary;
			border-color: $primary;
		}
	}
	.text_overflow_hidden {
	   white-space:nowrap; 
	   overflow:hidden;
	   text-overflow:ellipsis;
	}
	.text_overflow_visible {
		overflow:visible;
	}
	.product-desc .more-info{
		display: none;
	}
	.product_promotion_popup, .bc-wl-slider {
		&.popup_show, &.bc_slider_show {
			display: block;
		}
		&.popup_none, &.bc_slider_hide {
			display: none;
		}
		/* fade in */
		&.fade-in {
			animation: fadeIn ease 1s;
			-webkit-animation: fadeIn ease 1s;
			-moz-animation: fadeIn ease 1s;
			-o-animation: fadeIn ease 1s;
			-ms-animation: fadeIn ease 1s;
			display: inline;
		}
		@keyframes fadeIn {
			0% {
				opacity:0;
			}
			100% {
				opacity:1;
			}
		}
		@-moz-keyframes fadeIn {
			0% {
				opacity:0;
			}
			100% {
				opacity:1;
			}
		}
		@-webkit-keyframes fadeIn {
			0% {
				opacity:0;
			}
			100% {
				opacity:1;
			}
		}
		@-o-keyframes fadeIn {
			0% {
				opacity:0;
			}
			100% {
				opacity:1;
			}
		}
		@-ms-keyframes fadeIn {
			0% {
				opacity:0;
			}
			100% {
				opacity:1;
			}
		}
		/* fade out */
		&.fade-out {
			animation: fadeOut ease 2s;
			-webkit-animation: fadeOut ease 2s;
			-moz-animation: fadeOut ease 2s;
			-o-animation: fadeOut ease 2s;
			-ms-animation: fadeOut ease 2s;
			display: none;
		}
		@keyframes fadeOut {
			0% {
				opacity:1;
			}
			100% {
				opacity:0;
			}
		}
		@-moz-keyframes fadeOut {
			0% {
				opacity:1;
			}
			100% {
				opacity:0;
			}
		}
		@-webkit-keyframes fadeOut {
			0% {
				opacity:1;
			}
			100% {
				opacity:0;
			}
		}
		@-o-keyframes fadeOut {
			0% {
				opacity:1;
			}
			100% {
				opacity:0;
			}
		}
		@-ms-keyframes fadeOut {
			0% {
				opacity:1;
			}
			100% {
				opacity:0;
			}
		}
	}
	/* Ad popup */
	.bc-wl-reveal-popup {
		.bc-wl-reveal-popup-body {
			max-height: 35rem;
			padding: 0px;
			.close-button {
				position: absolute;
				top: 10px;
				right: 10px;
				-webkit-transition: .3s;
				-o-transition: .3s;
				transition: .6s;
				z-index: 999;
				font-size: 29px;
				outline: 0;
				text-shadow:none;
				color:$primary;
				opacity:1;
				&:hover {
					color:$secondary;
				}
			}
			.right_side_block {
				img {
					max-width: 100%;
					max-height: 32rem;
					width: 100%;
				}
			}
		}
	}
	/* cart offcanvas */
	.offcanvas-close {
		font-size: 20px;
		.icon-arrow-head-left {
			svg {
				top: 3px;
			}
		}
	}
   .offcanvas-cart {
	   .offcanvas-cart-header {
			padding-top: 1rem;
			padding-bottom: 1rem;
			border-bottom: 1px solid $sw-border-color;
			.offcanvas-cart-header-count {
				font-weight: 500;
			}
		}
		.offcanvas-cart-items {
			 .cart-item {
				box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
				padding: 1rem 0.5rem;
				border:none;
				border-radius: 5px;
				margin-bottom:10px;
				.cart-item-row {
					.col-auto {
						margin: auto;
					}
					.cart-item-label {
						color: $primary;
						font-weight: 500;
					}
					.cart-item-details-container {
						.cart-item-details {
							font-weight: 500;
						}
						.cart-quantity-price {
							.custom-select {
								border: none;
								border-bottom: 1px solid $sw-border-color;
								&:focus {
									box-shadow: none;
								}
							}
							.cart-item-price {
								color: $sw-color-price;
								font-weight: 500;
							}
						}
					}
					.cart-item-img {
						height: 75px;
						width:unset;
						max-width: 100%;
					}
					.cart-item-remove {
						.cart-item-remove-button {
						    background-color: transparent;
							border:none;
							.icon {
								height: 14px;
								width: 14px;
								svg {
									top:1px;
								}
							}
							&:hover, &:focus {
								box-shadow:none;
								.icon {
									color:$secondary;
								}
							}
						}
					 }
				}
			}
		}
	   .offcanvas-summary {
			.offcanvas-summary-list {
				.summary-label {
					color: $primary;
				}
				.summary-value {
					color: $sw-color-price;
				}
			}
			.offcanvas-shipping-info {
				.shipping-label {
					color: $primary;
				}
				.shipping-value {
					color: $sw-color-price;
				}
				.js-toggle-shipping-selection {
					color: $primary;
				}
			}
			.offcanvas-shipping-preference {
				.custom-select {
					border: none;
					border-bottom: 1px solid $sw-border-color;
					&:focus {
						box-shadow: none;
					}
				}
			}
	   }
	   .offcanvas-cart-tax {
			color: $secondary;
	   }
	   .offcanvas-cart-actions {
			#addPromotionOffcanvasCartInput {
				border: none;
				border-bottom: 1px solid $sw-border-color;
			}
			.begin-checkout-btn, .btn-link {
				border-radius: 20px;
			}
			#addPromotionOffcanvasCart {
				width: 40px;
				height: 40px;
				border-radius: 20px;
				padding: 0;
			}	
			.begin-checkout-btn.disabled {
				opacity: 0.5;
			}
			.begin-checkout-btn {
				position: relative;
				z-index: 1;
				&:hover {
					&:before {
						width: 100%;
					}
					border-color: $secondary;	
				}
				&:after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: $primary;
					border-radius: 20px;
					z-index: -2;
				}
				&:before {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 0%;
					height: 100%;
					background-color: darken($secondary, 15%);
					border-radius: 20px;
					transition: all .3s;
					z-index: -1;
				}
			}
			.btn-link {
				border: 1px solid $secondary;
				text-decoration: none;
				position: relative;
				z-index: 1;
				&:hover {
					color:$sw-color-buy-button-text;
					&:before {
						width: 100%;
					}
					border-color: $secondary;	
				}
				&:before {
					content: '';
					position: absolute;
					bottom: 0;
					right: 0;
					width: 0%;
					height: 100%;
					background-color: darken($secondary, 15%);
					border-radius: 20px;
					transition: all .3s;
					z-index: -1;
				}
			}
		}
	}
	/* Alert info - Start */
	.alert {
		padding: 5px 0;
		box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
		border-radius: 5px;
	}
	.alert-success {
	   background: $sw-color-success;
	   .alert-content-container {
			background-color: transparent;
			color: $bc-wl-status-text-color;
		}
	}
	.alert-info {
	   background: $sw-color-info;
		.alert-content-container {
			background-color: transparent;
			color: $bc-wl-status-text-color;
		}
	}
	.alert-warning {
	   background: $sw-color-warning;
		.alert-content-container {
			background-color: transparent;
			color: $bc-wl-status-text-color;
		}
	}
	.alert-danger {
		background: $sw-color-danger;
		.alert-content-container {
			background-color: transparent;
			color: $bc-wl-status-text-color;
		}
	}
	.cms-element-product-slider {
		.cms-element-title {
			font-size: 2rem;
			padding-bottom: 20px;
			text-align: center;
		}
		.product-slider-container {
			padding: 7px 0;
		}
		.base-slider-controls {
			.base-slider-controls-prev, .base-slider-controls-next {
				.icon {
					color:$secondary;
				}
				&:hover {
					.icon {
						color:$primary;
					}
				}
			}
		}
		.tns-ovh {
			padding:0 5px;
		}
	}
	.cms-block.cms-block-image-text-cover, .cms-block.cms-block-image-text {
		.cms-element-image {
			.cms-image-container {
				min-height: 400px;
				overflow: hidden;
				.cms-image {
					-webkit-transition: all .2s ease;
					transition: all .2s ease;
					&:hover {
						opacity: .7;
						transform: scale(1.09);
						-webkit-transform: scale(1.09);
					}
				}
			}
		}
		.cms-element-text {
			padding-top: 0px;
			h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
				padding-bottom: 1.3rem;
				text-align: center;
			}
		}
	}
	.cms-block-image-text-bubble {
		.cms-element-image {
			.cms-image-container {
				width: 350px;
				border: 1px solid $sw-border-color;
				&:hover {
					img {
						transform: scale(1.04);									
					}
				}
				img {
					transition: all .3s linear;
				}
			}
		}
		.cms-element-text {
			h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
				padding-bottom: 1.3rem;
			}
		}
	}
	.cms-block-image-text-gallery {
		.cms-element-image {
			 overflow: hidden;
			.cms-image-container {
				&:hover {
					img {
						transform: scale(1.04);									
					}
				}
				img {
					transition: all .3s linear;
				}
			}
		}
		.cms-element-text {
			h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
				padding-bottom: 1.3rem;
			}
		}
	}
	.cms-block-text-teaser {
		.cms-element-text {
			h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
				padding-bottom: 1.3rem;
				text-align: center;
			}
		}
	}
	/* Text on Image CMS styles */
	.cms-block-text-on-image .cms-element-text {
		padding: 30px;
		-ms-flex-align: center;
		align-items: center;
		min-height: 240px;
	}
	/* modal */
	.modal {
		z-index:99999;
		.modal-header {
			.close {
				&:focus {
					outline:none;
				}
				.icon {
					color:$secondary;
				}
			}
		}
	}	
}
/* media start */
/* min width 1350px */
@media (min-width: 1350px) {
	.cms-listing-row {
		.cms-listing-col {
			flex: 0 0 20%;
			max-width: 20%;
			.alert {
				width: 93vw;
			}
		}
	}
}
/* min width 1200px */
@media screen and (min-width:1200px) {
	.product_promotion_block {
		.product_promotion_popup {
			max-width:700px;
			.product-img-block {
				width: 100px;
				height: 100px;
				position:relative;
				max-width:15%;
			}
			.product-detail-block {
				padding: 5px;
				max-width: 85%;
				flex-grow:1;
			}
		}
	}
}
/* max width 1200px */
@media screen and (max-width:1200px) {
	.product_promotion_block {
		.product_promotion_popup {
			.product-img-block {
				max-width: 25%;
			}
			.product-detail-block {
				max-width: 75%;
			}
		}
	}
}
/* min width 992px */
@media only screen and (min-width: 992px) {
	.bc-wl-reveal-popup {
		.modal-lg, .address-editor-modal .modal-dialog, .quickview-modal .modal-dialog, .modal-xl {
			max-width: 700px;
		}
	}
}
/* min width 991px */
@media screen and (min-width:991px) {
	.bc_d_sm_block {
		display: block;
	}
	.bc_wl_listing_side_bar {
		position: absolute;
		background: $sw-background-color;
		overflow-y: auto;
		top: 0;
		z-index: 1050;
		height: 100%;
		-ms-transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		display: block;
		-webkit-transition: all .45s cubic-bezier(.3, 0, .15, 1);
		transition: all .45s cubic-bezier(.3, 0, .15, 1);
		&.bc_modal_is_open {
			-ms-transform: translateX(0);
			-webkit-transform: translateX(0);
			transform: translateX(0);
		}
	}
	#bc_wl_slide_close {
		width: 100%;
		border-radius: 0;
		font-weight: 400;
		padding: .5rem 0;
		text-align: right;
	}
	.bc_wl_backdrop {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1040;
		width: 100vw;
		height: 100vh;
		pointer-events:none;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width:100%;
			height: 100%;
			background-color: rgba(0, 0, 0, .5);
			opacity: 0;
		}
	}
	.bc_wl_backdrop.show {
		pointer-events:all;
		&::before {
			opacity: 1;
		}
	}
	.bc_modal_is_left {
		left: 0;
	}
	#bc_wl_horizontal_filter {
		visibility: hidden;
		padding-left: 15px;
		padding-right: 15px;
		margin-top: 15px;
		height:0px;
		&.bc_wl_hori_filter_show {
			visibility: visible ;	
			height:100%;	
			transform-origin: top;
			transition: all .3s ease;
		}
	}
	.bc_wl_filter_btn {
		background: $primary;
		color: $secondary;
		border-radius: 5px;
		&:hover {
		  color: $secondary;
		}
		.icon {
			color: $secondary;
		}
	}
	.modal-bc-wl-newsletter {
		.modal-dialog {
			max-width: 700px;
		}
	}
	.bc-wl-logo {
		.header-logo-col {
			margin: 0;
		}
	}
	.is-ctl-product.is-act-index {
		.product-detail-main {
			& > .product-detail-media, & > .product-detail-buy {
				flex: 0 0 50%;
    			max-width: 50%;
			}
		}
	}
	#productReviewModal {
		.modal-body {
			.offcanvas-close {
				display: none;
			}
		}
	}
	.top-bar {
		.topbar-container {
			.bc-promotion-list {
				justify-content: space-between;
			}
		}
	}
	.product-box {
		.card-body {
			.product-image-wrapper {
				height:275px;
			}
		}
	}
}
/* max width 991px */
@media screen and (max-width:991px) {
	#bc_wl_horizontal_filter {
		display: block;
	}
	#bc_wl_horizontal_btn {
		display: none;
	}
	.bc_d_xs_none {
		display: none;
	}
	.top-bar {
		.topbar-container {
			max-width:100%;
			flex:0 0 100%;
			justify-content: center;
			.bc-promotion-list {
				justify-content: center;
			}
			.container {
				padding:0;
			}
		}
	}
}
/* min 768px to max 990px */
@media screen and (min-width:768px) and (max-width:990px) {
	.product-slider {
		.product-image-wrapper {
			height: auto;
		}
	}
}
/* min width 768px */
@media screen and (min-width:768px) {
	header {
		.bc-nav-right {
			justify-content: flex-end;
			.bc_inner_block_right {
				justify-content:flex-end;
			}
		}
		&.stickynav {
			.search-suggest {
				.search-suggest-container {
					max-height: 60vh;
				}
			}
		}
	}
	.product-detail-review-item-title {
		padding-left: 20px;
	}
	.gallery-slider {
		.gallery-slider-item {
			img {
				width:100%;
			}
		}
	}
}
/* max width 768px */
@media screen and (max-width:768px) {
	header {
		.bc-wl-logo {
			max-width: 100%;
			flex:0 0 100%;
			justify-content:center;
			.bc_wl_menu_stack {
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
			}
			.header-logo-col {
				.header-logo-main-link {
					width: 4.5rem;
					height: 4.5rem;
				}
			}
		}
		.shop_action_block {
			.header-cart {
				position:relative;
			}
		}
		.bc-nav-right {
			max-width: 100%;
			flex:0 0 100%;
			justify-content:center;
			.bc_inner_block_right {
				justify-content:center;
			}
		}
	}
	.is-ctl-checkout {
		.header-minimal {
			.header-minimal-back-to-shop {
				width:auto;
			}
		}
	}
	.gallery-slider {
		.gallery-slider-item {
			img {
				width:100%;
				box-shadow: none;
			}
		}
	}
	.is-act-home {
		.flashbags {
			width: 100%;
		}
	}
	.product-box {
		.card-body {
			.product-image-wrapper {
				height:275px;
			}
		}
	}
}
/* max width 736px */
@media screen and (max-width:736px) {
	.topbar-features {
		.container {
			.bc-promotion-list {
				li {
					span, a > span {
						font-size: 0.750rem;
					}
				}
			}
		}
	}
	.cms-section.pos-0.bc-wl-top-banner {
		.cms-block-text-on-image {
			.cms-element-text {
				padding-top: 35vh;
				justify-content: unset;
			}
		}
	}
}
/* max width 577px */
@media screen and (min-width:577px) {
	.product_promotion_block {
		.product_promotion_popup {
			left: 20px;
		}
	}
}
/* max width 577px */
@media screen and (max-width:577px) {
	.product_promotion_block {
		.product_promotion_popup {
			width: 100%;
			max-width: 90%;
			margin: 0 auto;
			left: 50%;
			transform: translateX(-50%);
			.product-detail-block {
				padding: 5px;
			}
		}
	}
	.nav-tabs {
		border-bottom: 0;
	}
}
/* max width 570px */
@media screen and (max-width:570px) {
	header {
		.header-logo-main {
			text-align: center;
		}
	}
}
/* min width 500px */
@media screen and (min-width:500px) {
	.pagination-nav {
		.pagination {
			.page-item {
				padding-left: 5px;
				padding-right: 5px;
				.page-link {
					height: 35px;
					width: 35px;
				}
			}
		}
	}
}
/* max width 500px */
@media screen and (max-width:500px) {
	.pagination-nav {
		.pagination {
			justify-content:center;
			.page-item {
				padding-left: 1px;
				padding-right: 1px;
				.page-link {
					height: 29px;
					width: 29px;
				}
			}
		}
	}
}
/* max width 360px */
@media screen and (max-width:360px) {
	.product_promotion_block {
		.product_promotion_popup {
			.product-img-block {
				max-width: 30%;
			}
			.product-detail-block {
				max-width: 70%;
				.product-desc {
					line-height: 1.1rem;
					font-size: 11px;
				}
				.product-heading {
					font-size: 14px;
				}
			}
		}
	}
	body.is-ctl-product .product-detail .product-detail-buy .bc-wl-share-icons {
		width:100%;
	}
}
/* min width 400px to max width 768px for landscape */
@media only screen and (min-device-width : 270px) and (max-device-width : 800px) and (orientation : landscape) {
	header {
		.bc-wl-logo {
			flex: 0 0 35%;
			max-width: 35%;
			justify-content:flex-start;
			.bc_wl_menu_stack {
				position: relative;
				left: unset;
				top: unset;
				transform: unset;
			}
			.header-logo-col {
				.header-logo-main-link {
					img {
						min-height:70px;
					}
				}
			}
		}
		.bc-nav-right {
			flex: 0 0 65%;
			max-width: 65%;
			justify-content:flex-end;
			.bc_inner_block_right {
				justify-content:flex-end;
			}
		}
		.search-suggest {
			.search-suggest-container {
				max-height: 50vh;
				overflow-x: hidden;
				overflow-y: scroll;
			}
		}
	}
	.is-act-home {
		.cms-section.pos-0.bc-wl-top-banner {
			.cms-block-text-on-image {
				min-height: 100vh;
				height:auto;
				.cms-element-text {
					padding-top: 35vh;
					justify-content: unset;
				}
			}
		}
	}
}
