{% block page_product_detail_tabs %}
    <div class="product-detail-tabs jumbotron bg-light">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    {% sw_include '@Storefront/storefront/page/product-detail/accordion.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
