{% sw_extends '@Storefront/storefront/page/merchant-detail/review/review-widget.html.twig' %}

{% block page_merchant_detail_review_filter_checkbox %}
	<div class="col-md-12 col-lg-12 merchant-detail-review-checkbox">
		<div class="custom-control custom-checkbox">
			{% block page_merchant_detail_review_filter_checkbox_input %}
				{{ parent() }}
			{% endblock %}
			{% block page_merchant_detail_review_filter_checkbox_label %}
				{{ parent() }}
			{% endblock %}
		</div>
	</div>
{% endblock %}

{% block page_merchant_detail_review_filter_share %}
	<div class="col-12 col-md-4 merchant-detail-review-share">
		<p><small>{{ matrix.percent|round }}%</small></p>
	</div>
{% endblock %}
